body{
	font-family: 'Barlow Condensed', sans-serif;
	height:7100px ;
	color:white; 
	background-color: #f8b195; 
    background: -moz-linear-gradient(bottom right, #f8b195, #f67280, #c06c84, #6c5b7b, #355c7d); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #f8b195, #f67280, #c06c84, #6c5b7b, #355c7d);  /*Standard syntax (must be last) */
}

#container{

}

#quote{
	position:absolute;
	width:40%;
	left:25%;
	top:45%;
	font-size: 17px;
	z-index:100;
	text-align: center;
	font-weight:  400;
	line-height: 1.3;
}

#reality{
	position:absolute;
	width:50%;
	left:35%;
	top:4400px;
	font-size: 19px;
	z-index:100;
	
	font-weight:  400;
	line-height: 1.3;
}


#quote a{
	color:transparent;
	text-decoration:none;
	cursor:default;
}

#quote a:hover{
	color:rgba(255,255,255,0.7) !important;
	text-shadow: 0.1px white !important;
	transition: color 1s;
}

#reality a{
	color:transparent;
	text-decoration:none;
	cursor:default;
}

#reality a:hover{
	color:rgba(255,255,255,0.7) !important;
	text-shadow: 0.1px white !important;
	transition: color 1s;
}

.column{
	position:relative;
	top:0;
	float:left;
	width:20%;
	height:7100px;
	z-index:30;
}


#name{
	position:fixed;
	top:0;
	left:29px;
	font-size: 17px;
	cursor:crosshair;
	font-weight:  300;
	z-index:100;
}

#info{
	position:absolute;
	width:30%;
	height: 300px;
	font-size: 17px;
	top:5300px;
	left: 35%;
	z-index: 100;
	
	font-weight:  300;
}

a.words{
	text-decoration: none;
	cursor: crosshair;
	color:white;
}
a.words:active{
	color:transparent;
}

#name:hover{
	text-decoration: overline;
}
#name:active{
	color: #355c7d;
}


#artist{
	position:fixed;
	bottom:29px;
	right:29px;
	font-size: 17px;
	cursor: crosshair;
	font-weight:  300;
	z-index:100;
}
#artist:hover{
	text-decoration: overline;
}
#artist:active{
	color:#6c5b7b;
}

#bio{
	width:30%;
	height: 300px;
	font-size: 17px;
	position: absolute;
	top:1000px;
	left:35%;
	z-index: 10;
	line-height: 1.5;
	font-weight:  300;
}

#tunnel{
	z-index:20;

}



#arch{
	z-index:100;
	width:30%;
	height:400px;
	position:absolute;
	top:2650px;
	left:35%;
	line-height: 1.5;
	font-weight:  300;
	font-size: 17px;
}

.tri1{
	width:0;
	height:0;
	border-bottom: 150px solid rgba(0,0,0,0.3);
	border-right: 151px solid transparent;
	z-index: 20;
	float:left;
	margin-left:151px;
}

.tri24{
	width:0;
	height:0;
	border-bottom: 150px solid rgba(0,0,0,0.3);
	border-right: 151px solid transparent;
	z-index: 20;
	float:left;
	margin-right:151px;
}

.tri8{
	width:0;
	height:0;
	border-bottom: 300px solid rgba(0,0,0,0.3);
	border-right: 151px solid transparent;
	z-index: 20;
	float:left;
	margin-right:151px;
}

.tri20{
	width:0;
	height:0;
	border-bottom: 300px solid rgba(0,0,0,0.3);
	border-right: 151px solid transparent;
	z-index: 20;
	float:left;
	margin-left:151px;
}

.tri12{
	width:0;
	height:0;
	border-bottom: 450px solid rgba(0,0,0,0.3);
	border-right: 151px solid transparent;
	z-index: 20;
	float:left;
	margin-left:151px;
}

.tri16{
	width:0;
	height:0;
	border-bottom: 450px solid rgba(0,0,0,0.3);
	border-right: 151px solid transparent;
	z-index: 20;
	float:left;
	margin-right:151px;
}

.tri3{
	width:0;
	height:0;
	border-bottom: 150px solid rgba(255,255,255,0.1);
	border-left: 151px solid transparent;
	z-index: 20;
	float:left;
	margin-right:151px;
}

.tri22{
	width:0;
	height:0;
	border-bottom: 150px solid rgba(255,255,255,0.1);
	border-left: 151px solid transparent;
	z-index: 20;
	float:left;
	margin-left:151px;
}

.tri7{
	width:0;
	height:0;
	border-bottom: 300px solid rgba(255,255,255,0.1);
	border-left: 151px solid transparent;
	z-index: 20;
	float:left;
	margin-left:151px;
}

.tri19{
	width:0;
	height:0;
	border-bottom: 300px solid rgba(255,255,255,0.1);
	border-left: 151px solid transparent;
	z-index: 20;
	float:left;
	margin-right:151px;
}

.tri11{
	width:0;
	height:0;
	border-bottom: 450px solid rgba(255,255,255,0.1);
	border-left: 151px solid transparent;
	z-index: 20;
	float:left;
	margin-right:151px;
}

.tri15{
	width:0;
	height:0;
	border-bottom: 450px solid rgba(255,255,255,0.1);
	border-left: 151px solid transparent;
	z-index: 20;
	float:left;
	margin-left:151px;
}

.tri2{
	width:0;
	height:0;
	border-top: 150px solid rgba(0,0,0,0);
	border-left: 151px solid transparent;
	z-index: 20;
	float:left;
	margin-left:151px;
}

.tri23{
	width:0;
	height:0;
	border-top: 150px solid rgba(0,0,0,0);
	border-left: 151px solid transparent;
	z-index: 20;
	float:left;
	margin-right:151px;
}

.tri6{
	width:0;
	height:0;
	border-top: 300px solid rgba(0,0,0,0);
	border-left: 151px solid transparent;
	z-index: 20;
	float:left;
	margin-right:151px;
}

.tri18{
	width:0;
	height:0;
	border-top: 300px solid rgba(0,0,0,0);
	border-left: 151px solid transparent;
	z-index: 20;
	float:left;
	margin-left:151px;
}

.tri10{
	width:0;
	height:0;
	border-top: 450px solid rgba(0,0,0,0);
	border-left: 151px solid transparent;
	z-index: 20;
	float:left;
	margin-left:151px;
}

.tri14{
	width:0;
	height:0;
	border-top: 450px solid rgba(0,0,0,0);
	border-left: 151px solid transparent;
	z-index: 20;
	float:left;
	margin-right:151px;
}

.tri4{
	width:0;
	height:0;
	border-top: 150px solid rgba(0,0,0,0.5);
	border-right: 151px solid transparent;
	z-index: 20;
	float:left;
	margin-right:151px;
}

.tri21{
	width:0;
	height:0;
	border-top: 150px solid rgba(0,0,0,0.5);
	border-right: 151px solid transparent;
	z-index: 20;
	float:left;
	margin-left:151px;
}

.tri5{
	width:0;
	height:0;
	border-top: 300px solid rgba(0,0,0,0.5);
	border-right: 151px solid transparent;
	z-index: 20;
	float:left;
	margin-left:151px;
}

.tri17{
	width:0;
	height:0;
	border-top: 300px solid rgba(0,0,0,0.5);
	border-right: 151px solid transparent;
	z-index: 20;
	float:left;
	margin-right:151px;
}

.tri9{
	width:0;
	height:0;
	border-top: 450px solid rgba(0,0,0,0.5);
	border-right: 151px solid transparent;
	z-index: 20;
	float:left;
	margin-right:151px;
}

.tri13{
	width:0;
	height:0;
	border-top: 450px solid rgba(0,0,0,0.5);
	border-right: 151px solid transparent;
	z-index: 20;
	float:left;
	margin-left:151px;
}

.row1{
	min-width:100%;
	height:150px;
	position:absolute;
	top:1900px;
	left:0;
	opacity: 0.1;
}


.row2{
	width:100%;
	height:300px;
	position:absolute;
	top:2050px;
	left:0;
	opacity: 0.3;
}
.row3{
	width:100%;
	height:450px;
	position:absolute;
	top:2350px;
	left:0;
	opacity:0.5;
}
.row4{
	width:100%;
	height:450px;
	position:absolute;
	top:2800px;
	left:0;
	opacity:0.5;
}

.row5{
	width:100%;
	height:300px;
	position:absolute;
	top:3250px;
	left:0;
	opacity: 0.3;
}

.row6{
	width:100%;
	height:150px;
	position:absolute;
	top:3550px;
	left:0;
	opacity: 0.1;
}


#spot{
	position:absolute;
	top: 6500px;
	left: 500px;
	width: 500px;
	height:500px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background-color: rgba(0,0,0,0);
	z-index:100;
	filter:blur(50px);
}

#spotlight{
	position: absolute;
	top:6600px;
	left:600px;
	width:300px;
	height:300px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background-color:transparent;
	z-index:150;
	padding-top: 100px;
	padding-left:50px;
	box-sizing: border-box;
	opacity:0;
	line-height: 1.7;
	font-weight:  300;
	font-size: 17px;
}



