body{
	font-family: 'Economica', sans-serif;
}

#text{
	width:290px;
	position:fixed;
	top:70px;
	left:370px;
	z-index:-1;
	font-size:29px;
	color: #001c66;
}

#back{
	color: #001c66;
	width:70px;
	position:fixed;
	bottom:70px;
	right:430px;
	z-index:-1;
	font-size:29px;
	text-decoration: underline;
	text-decoration-color: #bf60ff;
}

a{
	
	text-decoration:none;
	color: black;
}
a:hover{
	
	color:#bf60ff;
}

.row {
	width: 1400px;
	height: 370px;
	margin-left: auto;
	margin-right:auto;
	background-color: white;
}

.item {
	position: relative;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 100px 370px 100px;
	border-color: transparent transparent #bf60ff transparent;

	/* comment out 'float: left;' to have items stack in a single column */
	float: left; 
	box-sizing:border-box;

}

.item2{
	position: relative;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 370px 100px 0 100px;
	border-color: #bf60ff transparent transparent transparent;
	float: left; 
	box-sizing:border-box;
}

